[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dual"]
	path = dual
	url = https://github.com/cran/dual
[submodule "inca"]
	path = inca
	url = https://github.com/cran/inca
[submodule "plpoisson"]
	path = plpoisson
	url = https://github.com/cran/plpoisson
[submodule "spMC"]
	path = spMC
	url = https://github.com/cran/spMC
